<h1>The Reading Room</h1>

<h2>Welcome to your reading room!</h2>

<div class="video-container">
  <div class="row">
    <div class="col-6">
      <div class="float-sm-left">
      <video autoplay width="160" height="120" id="local-video" muted></video>
      </div>
      <video autoplay id="remote-video"></video>
    </div>-
    <div class="col-6">

    </div>
  </div>
</div>

<div id="storyCarousel" class="carousel slide carousel-fade" data-wrap="false" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#storyCarousel" data-slide-to="0" class="active"></li>
    {{#each text}}
    <li data-target="#storyCarousel" data-slide-to="{{@index_1}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="jumbotron jumbotron-fluid mb-0">
        <h1 class="display-4 text-center ml-5 mr-5">{{title}}</h1>
      </div>
    </div>
    {{#each text}}
    <div class="carousel-item">
      <div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px">
        <h3 class="display-4 text-center ml-5 mr-5">{{this}}</h3>
      </div>
    </div>
    {{/each}}

  </div>
  <a class="carousel-control-prev ml-1" href="#storyCarousel" role="button" data-slide="prev" id="prevButton">
    <span class="carousel-control-prev-icon ml-1" aria-hidden="true" style="text-align: left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next mr-1" href="#storyCarousel" role="button" data-slide="next" id="nextButton">
    <span class="carousel-control-next-icon mr-1" aria-hidden="true" style="text-align: right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<span id = "displayId"></span>
<!--<input type="text" id="connId" class="form-control" placeholder"enter connection id" required>
<button type="button" id='conn_button' class="btn btn-success">Connect</button>-->
<button type="button" id='call_button' class="btn btn-success btn-lg">Call</button>
<button type="button" class="btn btn-danger btn-lg">Stop</button>
</div>

<h1 style="visibility: hidden" id='bookTitle'>{{room.title}}</h1>
<h1 style="visibility: hidden" id='readerId'>{{room.reader}}</h1>
<h1 style="visibility: hidden" id='listenerId'>{{room.listener}}</h1>
