<main class="mt-0 young-passion-gradient">

<!-- <h1>The Reading Room</h1> -->
<div class="container">
  <div class="row mt-3">
    <h1>Welcome to your reading room! You are reading {{title}}.</h1>
    <span id = "displayId"></span>
    <button type="button" id='call_button' class="btn btn-success btn-md" data-connected="false">
      Video Chat with Listener
    </button>
  </div>
</div>

<div class="video-container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <video autoplay id="remote-video" class="img-thumbnail"></video>
      <h3 id="placeholderTxt">Waiting for the listener...</h3>
    </div>
    <div class="col-2">
      <video autoplay id="local-video" class="img-thumbnail" style="height: 30%" muted></video>
    </div>
  </div>
</div>

<div id="storyCarousel" class="carousel slide carousel-fade" data-wrap="false" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#storyCarousel" data-slide-to="0" class="active"></li>
    {{#each text}}
    <li data-target="#storyCarousel" data-slide-to="{{@index_1}}"></li>
    {{/each}}
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="row>">
          <div class="col-2"></div>
          <div class="col-10">
            <h1 class="display-4 text-center ml-5 mr-5">{{title}}</h1>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    {{#each text}}
    <div class="carousel-item">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="row>">
          <div class="col-2"></div>
          <div class="col-10">
            <h3 class="display-4 text-center ml-5 mr-5">{{this}}</h3>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
  <a class="carousel-control-prev ml-1" href="#storyCarousel" role="button" data-slide="prev" id="prevButton" hidden>
    <span class="carousel-control-prev-icon ml-1" aria-hidden="true" style="text-align: left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next mr-1" href="#storyCarousel" role="button" data-slide="next" id="nextButton" hidden>
    <span class="carousel-control-next-icon mr-1" aria-hidden="true" style="text-align: right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h1 style="visibility: hidden" id='bookTitle'>{{room.title}}</h1>
<h1 style="visibility: hidden" id='readerId'>{{room.reader}}</h1>
<h1 style="visibility: hidden" id='listenerId'>{{room.listener}}</h1>


</main>